@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Nike Animation */
.nike-animation {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}


/* Nav.css */
.hover-underline-expand {
  position: relative;
  text-decoration: none;
  color: #000; /* Default text color */
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.hover-underline-expand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #D400FF; /* Default hover underline color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hover-underline-expand:hover {
  color: #D400FF; /* Hover text color */
}

.hover-underline-expand:hover::before {
  transform: scaleX(1);
  transform-origin: center;
  background-color: #D400FF; /* Hover underline color on hover */
}

/* Stats Animations */
.rotate {
  transition: transform 0.2s ease-in-out;
}

.rotate:hover {
  transform: rotate(5deg);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}